
#flatView {
	position:relative;
}


#flatViewRowSet{
  padding: 0px;
  padding-bottom: 0px;
  margin: 0px;
}

.bordered #flatViewRowSet{
 
}

#flatViewRowSet > li:first-child {
	background: #cccccc;
	height:50px;
	border-bottom: 1px solid #888;
	border-top: 1px solid #EEE;
}

#flatViewRowSet > li:first-child > span{
   display:block;
   padding-top:15px;
   padding-left:20px;
   font-size: 17px !important;
   
   text-shadow: 0 1px 0 white;
}

#flatViewRowSet > li{
  background:white;
  border-bottom: 1px solid #999999;
  color: #222222;
  display:block;
  font-size: 17px;
  font-weight: bold;  
  text-decoration:none;
  height:80px;
}

#flatViewRowSet > li a{
  text-decoration: none;
  padding: 20px 10px; 
  display: block;
  width: 100%;
  height: 100%;
  -webkit-tap-highlight-color:blue;
}

.bordered{
  padding: 10px;
}

.bordered > div > ul > li:first-child {
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
} 

.bordered > div > ul > li:last-child {
  -webkit-border-bottom-left-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
} 


.topBorder{
  height:10px;
  width:100%;
  background:#ddd;
 border-bottom:1px solid #eee;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
}

.bottomBorder{
  height:10px;
  width:100%;
  background:#a0a0a0;
 border-top:1px solid #a0a0a0;
  -webkit-border-bottom-left-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
}

.icon{
  float:right;
  padding-right:30px;
}

.multiLineIcon{
  float:right;
  margin-top:10px;
  padding-right:30px;
}