#formholder .xspTextComputedField {
	-webkit-box-sizing: border-box;
	font-family: helvetica;
	font-size: 1.4em;
	margin-bottom: 10px;
}

.addnewbutton {
	right: 80px;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#508eff),
		to(#3e6ec5) );
}

#formholder {
	-webkit-box-sizing: border-box;
	position: relative;
	background: #fff;
	-webkit-border-radius: 10px;
	-webkit-box-shadow: 0 0 0 6px rgba(255, 255, 255, 0.2);
	left: 0px;
	right: 10px;
	margin: 10px;
	padding: 10px;
}

#formholder .xspTextComputedField {
	display: block;
	width: 100%;
	border-bottom: 1px dashed rgba(0, 0, 0, 0.15);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 5px 0;
}


#formholder h2 {
	background: #cccccc;
	height: 50px;
	border-bottom: 1px solid #888;
	border-top: 1px solid #EEE;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	margin-left: -10px;
	margin-right: -10px;
	margin-top: -10px;
}

#formholder h2 span {
	display: block;
	padding-top: 15px !important;
	padding-left: 20px !important;
	font-size: 17px !important;
	text-shadow: 0 1px 0 white !important;
	font-weight: normal !important;
	border-bottom: none !important;
}

#formholder label {
	display: block;
	font-size: 1.2em;
	font-weight: bold;
	padding-top: 6px;
}


#formholder input,#formholder select,#formholder textarea,.xspInputFieldEditBox
	{
	background: #FFFFFF;
	line-height: normal;
	margin: 2px;
	overflow: visible;
	height: 34px;
	width: 100%;
	-webkit-box-sizing: border-box;
	font-family: helvetica;
	font-size: 1.4em;
	margin-bottom: 10px;
	padding: 6px;
}

#formholder textarea {
	height: 150px;
}

#formholder button {
	-webkit-box-sizing: border-box;
	font-size: 1.3em;
	margin-bottom: 10px;
	opacity: 0.5;
}

#formholder .buttons {
	position: relative;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 44px;
}

#formholder .buttons {
	list-style-type: none;
	-webkit-padding-start: 0px;
}

#formholder .buttons>li {
	float: left;
	padding: 6px 10px;
	margin: 5px;
	font-size: 1.3em;
	font-weight: bold;
	color: #fff;
	-webkit-border-radius: 8px;
	-webkit-background-clip: padding-box !important;
	border: 1px solid #000;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6), inset 0 1px 0
		rgba(255, 255, 255, 0.5);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.65);
	width: 80px;
	text-align: center;
}

#formholder .buttons>li a {
	text-decoration: none;
	color: #fff;
}

#formholder .buttons .deleteButton {
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#c00), to(#400) )
		;
}

#formholder .buttons .editButton {
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#508eff),
		to(#3e6ec5) );
}

#formholder .buttons .cancelButton {
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#eee), to(#999) )
		;
	color: #555;
	text-shadow: 0 1px 0 #eee;
}

#formholder .buttons .proceedButton {
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#9bc200),
		to(#288600) );
	width: 150px;
}

#formholder .buttons .saveButton {
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#9bc200),
		to(#288600) );
}

#formholder fieldset {
	display: block;
	float: left;
	width: 48%;
}

#formholder fieldset>input,#formholder fieldset>select,#formholder fieldset>textarea
	{
	width: 100%;
}

#formholder fieldset:nth-child(even) {
	float: right;
}