#flatView {
	position: relative;
}

#flatViewRowSet {
	padding: 0px;
	padding-bottom: 0px;
	margin: 0px;
}

.bordered #flatViewRowSet {
	
}

#flatViewRowSet>li:first-child {
	background: #cccccc;
	height: 50px;
	border-bottom: 1px solid #888;
	border-top: 1px solid #EEE;
}

#flatViewRowSet>li:first-child>span {
	display: block;
	padding-top: 15px;
	padding-left: 20px;
	font-size: 17px !important;
	text-shadow: 0 1px 0 white;
}

#flatViewRowSet>li {
	background: white;
	border-bottom: 1px solid #999999;
	color: #222222;
	display: block;
	font-size: 17px;
	font-weight: bold;
	text-decoration: none;
	height: 80px;
	cursor: pointer;
}

#flatViewRowSet>li a, #flatViewRowSet>li .viewlistsummary {
	text-decoration: none;
	padding: 20px 10px 5px 10px;
	display: block;
	width: 100%;
	color: #387bbe;
	-webkit-tap-highlight-color: #387bbe;
	font-weight: bold;
	
}

.viewlistdetail {
	font-weight: normal;
	padding-left: 10px;	
}

.bordered {
	padding: 10px;
}

.bordered>div>ul>li:first-child {
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
}

.bordered>div>ul>li:last-child {
	-webkit-border-bottom-left-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
}

.topBorder {
	height: 10px;
	width: 100%;
	background: #ddd;
	border-bottom: 1px solid #eee;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
}

.bottomBorder {
	height: 10px;
	width: 100%;
	background: #a0a0a0;
	border-top: 1px solid #a0a0a0;
	-webkit-border-bottom-left-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
}

.icon {
	float: right;
	padding-right: 30px;
}

.multiLineIcon {
	float: right;
	margin-top: 30px;
	padding-right: 30px;
}

.loadmorelink button {
	width: 100%;
	background: #e4eafa none 0 0 repeat-x;
	border: solid 1px #adc0ed;
	color: #2e4987;
	cursor: pointer;
	display: inline-block;
	font-weight: bold;
	font-size: 16px;
	line-height: 100%;
	margin: 3px;
	height: 60px;
	position: relative;
	text-decoration: none;
	text-shadow: #fff 0 1px 0;
	vertical-align: middle;
	white-space: nowrap;
	/* gecko */
	-moz-user-select: none;
	-moz-border-radius: 6px;
	background-image: -moz-linear-gradient(-90deg, #eeeeee 1%, #f3f5fa 5%, #e4eafa 70%,
		#c9d5f6 100%);
	/* webkit */
	-webkit-user-select: none;
	-webkit-border-radius: 6px;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.01, #eee),
		color-stop(0.05, #f3f5fa), color-stop(0.70, #e4eafa),
		color-stop(1, #c9d5f6) );
}

.hidden {
	display: none !important;	
}

/**
 *
 * Pull down styles
 *
 */
#pullDown,#pullUp {
	background: #fff;
	height: 40px;
	line-height: 40px;
	padding: 5px 10px;
	border-bottom: 1px solid #ccc;
	font-weight: bold;
	font-size: 14px;
	color: #888;
	-webkit-border-bottom-left-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
}

#pullDown .pullDownIcon,#pullUp .pullUpIcon {
	display: block;
	float: left;
	width: 40px;
	height: 40px;
	background: url(unp/pull-icon@2x.png) 0 0 no-repeat;
	-webkit-background-size: 40px 80px;
	background-size: 40px 80px;
	-webkit-transition-property: -webkit-transform;
	-webkit-transition-duration: 250ms;
}

#pullDown .pullDownIcon {
	-webkit-transform: rotate(0deg) translateZ(0);
}

#pullUp .pullUpIcon {
	-webkit-transform: rotate(-180deg) translateZ(0);
}

#pullDown.flip .pullDownIcon {
	-webkit-transform: rotate(-180deg) translateZ(0);
}

#pullUp.flip .pullUpIcon {
	-webkit-transform: rotate(0deg) translateZ(0);
}

#pullDown.loading .pullDownIcon,#pullUp.loading .pullUpIcon {
	background-position: 0 100%;
	-webkit-transform: rotate(0deg) translateZ(0);
	-webkit-transition-duration: 0ms;
	-webkit-animation-name: loading;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}

@
-webkit-keyframes loading {from { -webkit-transform:rotate(0deg)translateZ(0);
	
}

to {
	-webkit-transform: rotate(360deg) translateZ(0);
}
}